<div class="action-form-container container">
    <form class="action-form">
        <input type="hidden" name="id" value="<%= id %>" />
        <p>Titre : <input type="text" name="titre" value="<%= titre %>" /></p>
        <p>Actions : <textarea name="actions"><%= actions %></textarea><p>
        <button class="action-form__bt--save">Enregistrer</button>
    </form>
</div>