<a class="detail__bt detail__bt--back icon-left-open" href="#map">Revenir à la carte</a>
<div class="content container">
	<h1>Nouvelle fiche</h1>
	<div class="form-container">
	</div>
    <button class="action-form__bt--save">Enregistrer</button>
</div>