<div class="content container">
	<a class="detail__bt detail__bt--back icon-left-open" href="#map/actions/<%= id %>">Revenir à la fiche</a>
	<h1>Éditer une fiche</h1>
	<div class="form-container">
	</div>
    <button class="action-form__bt--save">Enregistrer</button>
</div>