<div class="login-container container">
    <form class="login-form">
        <p>Identifiant : <input type="text" name="login" /></p>
        <p>Mot de passe : <input type="password" name="password" /><p>
        <button class="login-form__bt--login">Login</button>
    </form>
</div>