<div class="results-menu">
	<div class="results-menu__search">
		<form action="">
			<span class="soon">Bientôt disponible !</span>
			<input type="text" class="search-input" placeholder="Rechercher" disabled><span class="icon-search"></span>
		</form>
	</div>
	<div class="results-menu__container">
		<a class="clear-bt icon-cross" href="#">Effacer</a>
		<ul class="menu-wrapper">
			<li class="results-menu__categories">
				<a class="submenu__item icon-right-dir" href="#">Enjeux de développement</a>
				<ul class="enjeux submenu">
					<li><a href="#back" class="submenu__item--back icon-left-dir">Retour</a></li>
				</ul>
			</li>
			<li class="results-menu__list">
				<ul class="results-menu__wrapper">
				</ul>
			</li>
		</ul>
	</div>
</div>

<div id="<%= id %>" class="container">
</div>