<div class="results-menu">
	<div class="fixed-elements">
		<div class="results-menu__search">
			<form action="">
				<input type="text" class="search-input" placeholder="Rechercher">
			</form>
		</div>
		<ul class="results-menu__categories submenu open">
			<li>
				<a class="submenu__item icon-right-dir" href="#">Catégories</a>
				<ul class="submenu">
					<li><a class="submenu__item" href="#">Test catégorie</a></li>
					<li><a class="submenu__item" href="#">Test catégorie</a></li>
					<li><a class="submenu__item" href="#">Test catégorie</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<ul class="results-menu__list">
	</ul>
</div>

<div id="<%= id %>" class="container">
</div>