<div class="results-menu">
	<div class="results-menu__search">
		<form action="">
			<input type="text" class="search-input" placeholder="Rechercher"><span class="icon-search"></span>
		</form>
	</div>
	<div class="results-menu__categories">
		<ul class="menu-wrapper">
			<li>
				<a class="submenu__item icon-right-dir" href="#">Catégories</a>
				<ul class="submenu">
					<li><a href="#back" class="submenu__item--back icon-left-dir">Retour</a></li>
				</ul>
			</li>
			<li class="results-menu__list">
				<ul class="results-menu__wrapper">
				</ul>
			</li>
		</ul>
	</div>
</div>

<div id="<%= id %>" class="container">
</div>