<div class="map-menu">
	<div class="map-menu__search">
		<form action="">
			<input type="text" class="search-input" placeholder="Rechercher"><span class="icon-search"></span><button type="button" class="results-menu__search__clear-bt icon-cross"/>
		</form>
	</div>
	<div class="clearfix">
		<a class="map-menu__bt map-menu__bt--categories icon-left-dir" href="#">Catégories</a>
		<a class="map-menu__bt map-menu__bt--action" href="#">+ Proposer une action</a>
		<div class="menu-categories">
			<ul class="menu-categories__wrapper">
				<ul class="enjeux submenu">
					<li><a href="#back" class="submenu__item submenu__item--back icon-left-dir">Retour</a></li>
				</ul>
			</ul>
		</div>
	</div>
	<ul class="results">
	</ul>
</div>

<div id="<%= id %>" class="container">
</div>

<a href="http://makina-corpus.com" target="_blank" class="makina-logo"><img src="images/logo.png"/></a>