<div class="content">
	<h1>Actualités</h1>
	<article>
		<h2>L'ATLAAS DE L'INTERNET PUBLIC ET CITOYEN</h2>
		<h3>Un portail d’informations sur la France de l'internet 
	public et citoyen.</h3>
	<img src="images/villesinternet.jpg">
		<p>Il devra permettre de présenter et publier des 
		informations concernant les acteurs territoriaux 
		(structures et personnes), leurs actions et leurs 
		projets en matière de services, ainsi que les 
		technologies qu’ils utilisent et, le cas échéant, la 
		description des compétences à mobiliser pour mettre 
		en œuvre sur un territoire les différentes catégories 
		de projets. Un investissement financier de la DATAR a 
		été formalisé et permet de viabiliser ce projet pour 
		une version Beta en février 2014 et une version 
		finalisée en mai 2014.</p>
		<p>
			Trois bases de données nourriront le premier fonds constitué :
			<ul>
				<li>de Villes Internet et de son réseau de collectivités et 
				partenaires,</li>
				<li>de NetPublic, ressources des Espaces publics 
				numériques gérés actuellement par la Délégation aux 
				Usages d’Internet, partenaire de Villes Internet,</li>
				<li>de l’ex Observatoire des Territoires Numériques 
				(OTeN), dont les données immatérielles ont été 
				cédées à Villes Internet.</li>
			</ul>
		</p>
		<p>Un travail raisonnable d’harmonisation des 
		métadonnées et des présentations de ces ressources 
		a été mené, pour produire une nomenclature de 12 
		enjeux de développement et plus de 150 services, 
		réalisé sur la base des données du Label Villes 
		Internet. 
		</p>
	</article>
</div>

