<h1 class="detail__title"><%= titre %></h1>
<% if (typeof sous_titre != undefined) { %> <h2 class="detail__sous-title"><%= sous_titre %></h2><% } %>
<div class="detail__date"><%= date %></div>
<div class="detail__action"><%= actions %></div>