<li data-item-id="<%= id %>">
    <a href="#" class="review__link"><%= titre %></a>
    <button class="review__btn--valid">Valider</button>
    <button class="review__btn--reject">Refuser</button>
    <div class="review__detail"><%= details %></div>
</li>