.btn-menu {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 21px;
	margin-left: 5px;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -25px;

	&:hover span,
	&:hover span:before,
	&:hover span:after {
		background: lighten(black, 40%);
	}

	span {
		position: relative;
		display: block;
		height: 5px;
		width: 24px;
		background: @orange;
		top: 10px;
		.transition(all 300ms);

		&:before,
		&:after {
			position: absolute;
			content: "";
			background: @orange;
			height: 5px;
			width: 24px;
			.transition(all 300ms);
		}

		&:before {
			top: -8px;
		}

		&:after {
			bottom: -8px;
		}
	}
}

.main-nav {
	ul {
		padding: 0;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
}

.main-nav__item {
	display: block;
	padding: 1em 1em 1em 3em;
	outline: none;
	border-top: 1px solid rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	font-weight: 400;
	.transition(background 0.3s);
	text-decoration: none;
	letter-spacing: 1px;

	&:hover,
	&.active {
		background: rgba(0,0,0,0.2);
		color: white;
		border-color: rgba(0,0,0,0.3);
	}

	&.icon-target-blank:before {
		float: right;
		margin-top: 3px;
		font-size: 15px;
	}
}