.results-menu {
	position: absolute;
	right: 0;
	top: 30%;
	bottom: 0;
	z-index: 2;
	width: 260px;
	.transform-style(preserve-3d);

	ul {
		padding: 0;
		margin: 0;
		height: 100%;
		.transform(translateZ(0));
	}

	li {
		list-style: none;
		background: white;
		border-top: 1px solid rgba(0,0,0,0.2);

		&:first-child {
			border-top: none;
		}

		a {
			padding: 1em;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.submenu {
		display: none;

		&.open {
			display: block;
		}

		&.in {
			display: block;
		}
	}

	.submenu.in {
		display: block;
		position: absolute;
		width: 100%;
		top: 0;
	}

	.subview li {
		display: none;
	}

	.subview li.subviewopen {
		display: block;

		> a {
			display: none;
		}

		> .submenu {
			display: block;

			li {
				display: block;
			}
		}
	}
}

.results-menu__list {
	background: white;
	position: absolute;
	bottom: 0;
	top: 52px;
	width: 100%;

	span {
		display: block;
		padding: 1em;
	}
}

.results-menu__search {
	.search-input {
		border: none;
		padding: 1em;
		border-top: 1px solid transparent;
		width: 100%;
		.transition(border-top 400ms);

		&:focus,
		&:active {
			outline: none;
			border-top: 1px solid @orange;
		}
	}
}

.results-menu__categories {
	position: absolute;
	border-top: 1px solid #EEE;
	width: 100%;
	bottom: 0;
	top: 53px;
	overflow-y: auto;
	overflow-x: hidden;

	a {
		display: block;
		padding: 1em;
		text-decoration: none;
		color: @text-color;
		outline: none;
		background: white;
	}

	.icon-right-dir {
		position: relative;

		&:before {
			float: right;
			font-size: 24px;
			position: absolute;
			top: 50%;
			margin-top: -6px;
			right: 10px;
		}
	}

	.icon-left-dir {
		position: relative;

		&:before {
			font-size: 24px;
			position: absolute;
			top: 50%;
			margin-top: -6px;
			left: 9px;
		}
	}

	.back {
		padding-left: 2em;
	}
}