.results-menu {
	position: absolute;
	right: 0;
	top: 30%;
	bottom: 0;
	z-index: 2;
	width: 340px;
	.transform-style(preserve-3d);

	ul {
		padding: 0;
		margin: 0;
		height: 100%;
		.transform(translateZ(0));
		overflow-y: auto;
		overflow-x: hidden;
	}

	li {
		list-style: none;
		background: white;
		border-top: 1px solid rgba(0,0,0,0.2);

		&:first-child {
			border-top: none;
		}

		a {
			padding: 1em;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover {
				background: @grayLight;
			}
		}

		.submenu__item--back {
			padding-left: 2em;
		}

		&.subview {
			border-top: none;
		}
	}

	.submenu {
		display: none;

		&.open {
			display: block;
		}

		&.in {
			display: block;
		}
	}

	ul.in {
		display: block;
		position: absolute;
		width: 100%;
		top: 0;
		pointer-events: none;
	}

	.subview li {
		display: none;

		&.subview.submenu {
			display: block;
		}

		&.subview {
			display: block;

			> a {
				display: none;
			}

			.submenu {
				display: block;
			}
		}
	}

	.subview li.subviewopen {
		display: block;
		border-top: none;

		> a {
			display: none;
		}

		> .submenu {
			display: block;

			li {
				display: block;
			}

			.submenu {
				display: none;
			}
		}
	}
}

.results-menu__list {
	background: white;
	position: absolute;
	bottom: 0;
	top: 52px;
	width: 100%;

	span {
		display: block;
		padding: 1em;
	}

	li {
		position: relative;
		height: 53px;
	}

	a {
		position: absolute;
		left: 0;
		.transition(all 400ms);
	}

	.results-menu__item {
		width: 100%;
	}

	.results-menu__bt {
		position: absolute;
		left: 0;
	}

	.active {
		left: 120px;
	}
}

.results-menu__search {
	position: relative;

	.search-input {
		border: none;
		padding: 1em;
		padding-right: 3em;
		border-top: 1px solid transparent;
		width: 100%;
		.transition(border-top 400ms);

		&:focus,
		&:active {
			outline: none;
			border-top: 1px solid @orange;
		}
	}

	.icon-search {
		position: absolute;
		top: 50%;
		right: 1em;
		margin-top: -8px;
		pointer-events: none;
	}
}

.results-menu__categories {
	position: absolute;
	border-top: 1px solid #EEE;
	width: 100%;
	bottom: 0;
	top: 53px;

	li a {
		display: block;
		padding: 1em;
		text-decoration: none;
		color: @text-color;
		outline: none;
		background: white;

		&:active {
			background: lighten(@orange, 10%);
		}
	}

	.icon-right-dir {
		position: relative;

		&:before {
			font-size: 24px;
			position: absolute;
			top: 50%;
			margin-top: -11px;
			right: 10px;
		}
	}

	.icon-left-dir {
		position: relative;

		&:before {
			font-size: 24px;
			position: absolute;
			top: 50%;
			margin-top: -11px;
			left: 9px;
		}
	}

	.active a {
		background: @orange;
		color: white;

		&:hover {
			background: @orange;
			color: white;
		}
	}
}