// Variables
@orange : #E94F35;
@orangeDark : #9E311F;
@yellow : #f6b133;
@green : #008f76;
@blue : #008acf;
@grayLight : #EEE;
@text-color : black;

@import '../bower_components/lesshat/build/lesshat';

// Reset the box-sizing (web app magic!)
* {
  .box-sizing(border-box);
}

*:before,
*:after {
  .box-sizing(border-box);
}

html,
body {
	width: 100%;
	height: 100%;
	background: #333;
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	
}

h2 {
	font-weight: 300;
}

a {
	.transition(250ms all);

	&:hover {
		text-decoration: none;
	}
}

.container {
	width: 100%;
	height: 100%;
	background: white;
}

#main-container {
	position: absolute;
	z-index: 1;
	.transform-style(preserve-3d);

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1001;
		width: 0;
		height: 0;
		opacity: 0;
		content: "";
		background: rgba(0,0,0,0.2);
		.transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
	}

	&[data-visible="hidden"]:after {
		width: 100%;
		height: 100%;
		.transition(opacity, 0.5s);
		opacity: 1;
	}
}

#pages-container {
	.box-shadow(5px 0px 0px rgba(0, 0, 0, 0.2));
}

.main-aside {
	position: absolute;
	z-index: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: @orange;
	width: 250px;
}

header {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 30%;
	width: 340px;
	background: rgba(255, 255, 255, 0.8);

	.logo {
		position: absolute;
		top: 50%;
		margin-top: -65px;
		left: 50%;
		margin-left: -110px;
		text-transform: uppercase;
		font-weight: bold;
		vertical-align: middle;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: bold;
		font-size: 19px;
	}

	.baseline {
		font-weight: 300;
		position: absolute;
		top: 50%;
		margin-top: 5px;
		left: 41px;
		font-size: 1.1em;
	}

	hr {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: @orange;
		height: 5px;
		border: none;
		margin-bottom: 30px;
	}
}

#news {
	padding: 10px;
}

#map-container {
	overflow: hidden;
	position: relative;
}

// objects
@import '_nav';
@import '_results-menu';
@import '_poi-detail';



// Leaflet custom icon
.custom-icon {
	background-image: url(../images/icon.svg);
	width: 33px;
	height: 42px;
	margin-left: -15px;
	margin-top: -40px;
}






// Utils

// Bootstrap 3 awesome mixin
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// homemade grid system
[class*="col-"] {
	padding: 0 2em;
	float: left;
	.clearfix();
}

.row {
	margin: 0 -2em;
	.clearfix();
}

.col-8 {
	width: 70%;
}

.col-4 {
	width: 30%;
}

@charset "UTF-8";

@font-face {
  font-family: "atlaas";
  src:url("fonts/atlaas.eot");
  src:url("fonts/atlaas.eot?#iefix") format("embedded-opentype"),
    url("fonts/atlaas.woff") format("woff"),
    url("fonts/atlaas.ttf") format("truetype"),
    url("fonts/atlaas.svg#atlaas") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "atlaas" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "atlaas" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-dir:before {
  content: "a";
}
.icon-right-dir:before {
  content: "b";
}
.icon-right-open:before {
  content: "c";
}
.icon-left-open:before {
  content: "d";
}
.icon-target-blank:before {
  content: "e";
}
.icon-export:before {
  content: "f";
}
.icon-link:before {
  content: "g";
}
.icon-fontawesome-webfont-1:before {
  content: "h";
}
.icon-elusive-icons:before {
  content: "i";
}
.icon-cross:before {
  content: "j";
}
.icon-search:before {
  content: "k";
}
.icon-acteurs:before {
  content: "l";
}
.icon-actions:before {
  content: "m";
}
.icon-location:before {
  content: "n";
}
